<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #99ff99
">
  <a class="navbar-brand" href="#" style="font-weight: bold">Petbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <ng-template [ngIf]="tokenStrorage.isAuthenticated()">
      <li class="nav-item active">
        <a class="nav-link" href="/pets">My Pets <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="/myProfile">My profile</a>
      </li>
      <input type="text" placeholder="Search..">
      <button (click) = "searchUser()"><i class="fa fa-search"></i></button>
    
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">friends</a>
      </li> -->
    </ng-template>
      
   
    <li class="nav-item active" style="position:relative; left:900px">
      
      <ng-template [ngIf]="!tokenStrorage.isAuthenticated()">
          <li class="nav-item active" style="float: left;">
          <a class="nav-link" href="auth/login">SignIn</a>
        </li>

          <li class="nav-item active" style="float: left;">
          <a class="nav-link" href="signup">SignUp</a>
        </li>
        </ng-template>
        <ng-template [ngIf]="tokenStrorage.isAuthenticated()">
          <a class="nav-link" (click) ="logOut()">Logout</a>
        </ng-template>
      </li>
</ul>
    <!-- <form class="form-inline my-2 my-lg-0">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>